.album-list {
  display: flex;
  overflow-x: auto;
  padding: 0;
  scroll-behavior: smooth;
  list-style: none;
  margin: 0;
  overflow: hidden;
}

.album-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.album a {
  text-decoration: none;
}

.album-card:hover .play-button {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(-4px);
}

.album-card article {
  padding: 0;
  color: #fff;
}

.album-cover {
  position: relative;
  border-radius: 0.5rem;
  margin-bottom: 12px;
}

.album-img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}
