@import "../styles/main.css";

.album-list {
  width: 100%;
  display: flex;
  overflow-x: auto;
  padding: 0;
  scroll-behavior: smooth;
  list-style: none;
  margin: 0;
  overflow: hidden;
  column-gap: 0;
}

.album-list.grid-mode {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 180px);
  justify-content: start;
  overflow: visible;
  row-gap: var(--spacing-md);
  column-gap: 0;
}

.album-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.album a {
  text-decoration: none;
}

.album-card:hover .play-button {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(-4px);
}

.album-card article {
  padding: 0;
  color: var(--spotify-white);
}

.album-cover {
  position: relative;
  border-radius: var(--border-radius-md);
  margin-bottom: var(--spacing-md);
}

.album-img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}
