@import "../styles/main.css";

.artist-list {
  margin: 0;
  padding: 0;
  display: flex;
  overflow: hidden;
  scroll-behavior: smooth;
}

.artist-list.grid-mode {
  display: grid;
  max-width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  overflow: visible;
  row-gap: var(--spacing-md);
}

.artist a {
  text-decoration: none;
}

.artist-card:hover {
  background-color: var(--spotify-black);
}

.artist-card:hover .play-button {
  opacity: 1;
  pointer-events: none;
  transform: translateY(-4px);
}

.artist-cover {
  position: relative;
  margin-bottom: var(--spacing-md);
}

.artist-profile {
  width: 10rem;
  border-radius: var(--border-radius-round);
  aspect-ratio: 1 / 1;
  object-fit: cover;
}
