.btn {
  font-weight: 700;
  cursor: pointer;
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 1px;
  min-width: 7.5rem;
  min-height: 2.5rem;
  padding: var(--spacing-xs) var(--spacing-sm);
  font-size: var(--font-size-base);
  text-decoration: none;
  box-sizing: border-box;
  gap: var(--spacing-xs);
  transition: all 0.3s ease-in-out;
}

.rounded-btn {
  border-radius: 500px;
}

.gray-outline-style {
  background-color: transparent;
  border: 2px solid var(--spotify-gray);
}

.rounded-btn.btn-large {
  font-size: var(--font-size-base);
  padding-block: var(--spacing-sm);
}

.icon-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: var(--button-size);
  aspect-ratio: 1;
  border-radius: var(--button-size);
  img,
  svg {
    max-width: var(--svg-size);
    max-height: var(--svg-size);
    vertical-align: middle;
  }
}

.rounded-btn.btn-small {
  min-width: 5rem;
  min-height: 2rem;
  font-size: var(--font-size-xs);
  padding-block: var(--spacing-xs);
  padding-inline: var(--spacing-sm);
}

.rounded-btn.btn-long {
  font-size: var(--font-size-base);
  padding-inline: var(--spacing-xxl);
  max-width: 30rem;
  min-width: 15rem;
}

.hover-bg-green:hover {
  background-color: var(--spotify-green);
  color: var(--spotify-black);
}

.hover-bg-white:hover {
  background-color: var(--spotify-white);
  color: var(--spotify-black);
}

.hover-size-grow:hover {
  transform: scale(1.05);
}

.hover-bg-blue:hover {
  background-color: var(--spotify-blue);
  color: var(--spotify-white);
}

.hover-grow:hover {
  transform: scale(1.05);
}

.btn .btn-icon {
  max-height: var(--svg-size);
}

.sidebar-btn {
  width: 100%;
}
