.bg-green {
  background-color: var(--spotify-green);
}

.bg-gray {
  background-color: var(--spotify-gray);
}

.bg-black {
  background-color: var(--spotify-black);
}

.bg-blue {
  background-color: var(--spotify-blue);
}

.white-text {
  color: var(--spotify-white);
}

.black-text {
  color: var(--spotify-black);
}
