.bg-green {
  background-color: var(--spotify-green);
}

.bg-gray {
  background-color: var(--spotify-gray);
}

.bg-black {
  background-color: var(--spotify-black);
}

.bg-transparent {
  background-color: transparent;
}

.bg-blue {
  background-color: var(--spotify-blue);
}

.white-text {
  color: var(--spotify-white);
}

.green-text {
  color: var(--spotify-green);
}

.gray-text {
  color: var(--spotify-gray);
}

.light-gray-text {
  color: var(--spotify-light-gray);
}

.dark-gray-text {
  color: var(--spotify-dark-gray);
}

.black-text {
  color: var(--spotify-black);
}

.svg-img-white {
  filter: brightness(1);
}

.svg-img-black {
  filter: brightness(0);
}
