body {
  padding: 2rem 10rem;
  background: var(--spotify-dark-gray);
}

h1 {
  margin-bottom: 2rem;
}

main {
  max-width: 1200px;
}

p {
  color: var(--spotify-white);
}

.margin-bottom-2rem {
  margin-bottom: 2rem;
}

.component-section-view > * {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
  width: 280px;
}

.sidebar-playlist {
  margin-top: 1rem;
}

/* Footer styles */
.footer {
  padding: 1rem 0;
  color: var(--spotify-white);
}

.footer-heading {
  color: var(--spotify-white);
  display: inline-block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.footer-links {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.footer-links li {
  list-style: none;
  display: inline-block;
}

.footer-links a {
  color: var(--spotify-gray);
  text-decoration: none;
  transition: color 0.2s;
}

.footer-links a:hover {
  color: var(--spotify-gray);
}

.copyright {
  margin-top: 1rem;
  color: var(--spotify-gray);
  font-size: 0.8rem;
}
