body {
  padding: var(--spacing-lg) var(--spacing-7xl);
  background: var(--spotify-dark-gray);
}

h1 {
  margin-bottom: var(--spacing-lg);
}

main {
  max-width: 1200px;
}

p {
  color: var(--spotify-white);
}

.margin-bottom-2rem {
  margin-bottom: 2rem;
}

.component-section-view > * {
  display: flex;
  gap: var(--spacing-sm);
  margin-bottom: var(--spacing-sm);
}

.sidebar-menu {
  list-style: none;
  padding: 0;
  width: 280px;
}

.sidebar-playlist {
  margin-top: var(--spacing-sm);
}

/* Footer styles */
.footer {
  padding: var(--spacing-sm) 0;
  color: var(--spotify-white);
}

.footer-heading {
  color: var(--spotify-white);
  display: inline-block;
  margin-bottom: var(--spacing-xs);
  font-weight: bold;
}

.footer-links {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-sm);
}

.footer-links li {
  list-style: none;
  display: inline-block;
}

.footer-links a {
  color: var(--spotify-gray);
  text-decoration: none;
  transition: color 0.2s;
}

.footer-links a:hover {
  color: var(--spotify-gray);
}

.copyright {
  margin-top: var(--spacing-sm);
  color: var(--spotify-gray);
  font-size: var(--font-size-xs);
}
