.sidebar {
  display: flex;
  flex-direction: column;
  min-height: 0;
  height: 100%;
  min-width: 280px;
  max-width: 420px;
  width: 100%;
  /* margin: 1rem; */
  border-radius: 0.5rem;
  padding: var(--spacing-lg);
  gap: var(--spacing-lg);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-xs);
  background: var(--spotify-black);
  color: var(--spotify-white);
  box-sizing: border-box;
}

.sidebar-menu {
  display: flex;
  flex-direction: column;
}

.sidebar-link,
.sidebar-footer-link,
.sidebar-playlist-link {
  opacity: 70%;
}

[aria-current="page"] {
  opacity: 100%;
}

.sidebar a {
  width: 100%;
}

.sidebar-link:hover,
.sidebar-footer-link:hover,
.sidebar-playlist-link:hover {
  opacity: 100%;
}

.sidebar-logo {
  max-height: 2.5rem;
}

.sidebar-logo img {
  height: 100%;
}

.sidebar-main li {
  margin-bottom: var(--spacing-lg);
}

.sidebar-main ul {
  margin-bottom: var(--spacing-lg);
}

.home .sidebar-icon {
  mask-image: url("/icons/home.svg");
}

.search .sidebar-icon {
  mask-image: url("/icons/find.svg");
}

.library .sidebar-icon {
  mask-image: url("/icons/bookmark.svg");
}

.sidebar-link,
.sidebar-playlist-link {
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);
  color: var(--spotify-white);
}

.sidebar-link:focus,
.sidebar-playlist-link:focus {
  opacity: 100%;
}

.sidebar-icon {
  width: var(--svg-size);
  height: var(--svg-size);
  margin-right: var(--spacing-sm);
  background-color: var(--spotify-white);
  mask-size: contain;
  mask-position: center;
  mask-repeat: no-repeat;
}

.rounded-icon-box {
  border-radius: 6px;
}

.favorite-playlist .sidebar-icon,
.create-playlist .sidebar-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.favorite-playlist .sidebar-icon {
  background: linear-gradient(135deg, #450af5 0%, #c4efd9 100%);
}

.create-playlist .sidebar-icon {
  background-color: var(--spotify-white);
}

.favorite-playlist .sidebar-icon img,
.create-playlist .sidebar-icon img {
  width: 50%;
}

.create-playlist .sidebar-icon img {
  filter: brightness(0);
}

.sidebar-main {
  overflow-y: scroll;
  padding: 3px;
}

.sidebar-footer {
  margin-top: auto;
  width: 100%;
  max-width: 280px;
}

.sidebar-footer-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  gap: var(--spacing-xs);
  font-weight: var(--font-weight-normal);
}

.language-select {
  margin-top: var(--spacing-xs);
  width: 6rem;
  height: 2rem;
  border: 1px solid var(--spotify-light-gray);
  background: transparent;
  color: inherit;
}

.language-select img {
  width: 1rem;
  height: 1rem;
  max-height: 1rem;
}

.sidebar-footer-link {
  margin-bottom: var(--spacing-xs) !important;
}
