/* 로그인 전체 박스 */
.login-page {
  /* background: red; */
  max-width: 388px;
  height: 100%;
  padding: 0 32px;
  /* 기본 상태 */
  .login-box {
    width: 324px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    /* padding: 32px; */
    box-sizing: border-box;

    .login-logo {
      /* background: red; */
      width: 40px;
      height: 40px;
      display: block;
      margin-block: 32px 24px;

      svg {
        width: 100%;
        height: 100%;
      }
    }

    /* 제목 */
    h1 {
      font-size: 50px;
      margin-bottom: 40px;
      text-align: center;
      line-height: 1.4;
      word-spacing: -3px;
    }

    .login-form {
      width: 100%;

      .input-box {
        display: flex;
        flex-flow: column nowrap;
        align-items: start;
        justify-content: center;
        margin-bottom: 20px;

        label {
          height: 20px;
          font-size: 15px;
          font-weight: 700;
          align-content: center;
          margin-bottom: 8px;
        }

        .error-massage {
          height: 41.9px;
          color: #f3727f;
          font-weight: 400;
          font-size: 15px;
          margin-block-start: 8px;
          display: none;
          line-height: 1.4;

          svg {
            vertical-align: top;
            transform: translateY(3px);
          }

          p {
            width: 304px;
            display: inline-block;
            letter-spacing: -0.3px;
            /* text-align: center; */
            align-content: baseline;
          }
        }

        input {
          border: 1px solid var(--spotify-gray);
          width: 100%;
          height: 48px;
          border-radius: 4px;
          padding: 12px;
          color: var(--spotify-white);

          &::placeholder {
            font-weight: 600;
          }

          &:hover {
            border-color: white;
          }

          &:focus {
            outline: 3px solid white;
          }

          &:user-invalid:focus {
            outline: 3px solid rgb(237, 44, 63);
            border: none;
          }

          &:user-invalid {
            outline: 1px solid rgb(237, 44, 63);
            border: none;
          }

          &:user-invalid + .error-massage {
            display: inline-block;
          }
        }
      }

      .sign-btn {
        display: block;
        background: var(--spotify-green);
        color: black;
        border: none;
        text-align: center;
        font-weight: 800;
        font-size: 1rem;
        transition: transform 33ms ease-in-out;
        margin-bottom: 0px;
        &:hover {
          transform: scale(1.04);
          background-color: #3be477;
        }
      }
    }

    .center-line {
      width: 100%;
      position: relative;
      display: flex;
      -webkit-box-pack: center;
      justify-content: center;
      margin-block: 32px;
      &::before {
        content: " ";
        height: 1px;
        background-color: var(--essential-subdued, #818181);
        display: block;
        position: absolute;
        top: 50%;
        left: 0px;
        right: 0px;
      }
      span {
        padding: 0px 12px;
        position: relative;
        display: inline-block;
        background: #121212;
      }
    }

    /* 버튼 */
    button {
      width: 100%;
      height: 48px;
      color: var(--spotify-white);
      border: 1px solid var(--button-border);
      border-radius: 48px;
      padding: 7px 23px;
      margin-bottom: 8px;
      font-weight: bold;
      font-size: 1rem;

      display: flex;
      flex-flow: row nowrap;
      align-items: center;

      .icon {
        display: inline-block;
        width: 24px;
        height: 24px;

        svg {
          width: 100%;
          height: 100%;
        }
      }

      .button-text {
        flex-grow: 1;
      }

      &:nth-of-type(1) {
        .google {
          background: url(https://accounts.scdn.co/sso/images/new-google-icon.72fd940a229bc94cf9484a3320b3dccb.svg)
            center center no-repeat;
        }
      }

      &:nth-of-type(2) {
        .facebook {
          background: url(https://accounts.scdn.co/sso/images/new-facebook-icon.eae8e1b6256f7ccf01cf81913254e70b.svg)
            center center no-repeat;
        }
      }

      &:nth-of-type(3) {
        .apple {
          background: url(https://accounts.scdn.co/sso/images/new-apple-icon.e356139ea90852da2e60f1ff738f3cbb.svg)
            center center no-repeat;
        }
      }

      &:hover {
        border-color: var(--spotify-white);
      }
    }

    .sign-box {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      margin-top: 3px;
      .account-label {
        color: var(--spotify-light-gray);
        font-size: 17px;
        height: 21.9px;
        margin-right: 3px;
      }

      .account-link {
        font-size: 17px;
        display: block;
        height: 23.8px;
        text-decoration: underline;

        &:hover {
          color: #1ed760;
        }
      }
    }

    .line {
      width: 100%;
      position: relative;
      display: flex;
      justify-content: center;

      margin-block: 28px;

      &::before {
        content: " ";
        height: 1px;
        background-color: #81818142;
        display: block;
        position: absolute;
        top: 50%;
        left: 0px;
        right: 0px;
      }
    }
  }

  /* 확장시 코드 */
  /* @media (width > 767px) {
    width: 734px;
    height: 668.72px;
    border-radius: 8px;

    .login-box {
      padding: 0 0 32px 0;

      .login-logo {
        display: block;
        width: 36px;
        height: 36px;
        margin: 32px 0 8px;
      }

      button {
        width: 324px;
      }

      hr {
        width: 73%;
      }

      .login-form {
        width: 324px;
        .input-box {
          label {
            font-size: 15px;
          }

          .error-massage {
            font-size: 14.5px;
            height: 21px;
            margin-top: 8px;
            align-content: end;

            svg {
              vertical-align: text-top;
            }
          }
        }
      }

      .sign-box {
        width: 100%;
        flex-direction: row;
        align-items: baseline;
        justify-content: center;

        .account-label {
          width: 99.5px;
          margin: 0px;
          font-size: 1rem;
          align-content: center;
        }
      }
    }
  } */
}
