body {
  background: var(--spotify-black);
  width: 100%;
  color: var(--font-color);
}

/* 제목 */
h1 {
  color: var(--spotify-green);
  /* background: rgba(12, 155, 43, 0.388); */
  width: fit-content;
  margin: 30px;
  padding: 10px 20px 10px 20px;

  border-radius: 30px;
}

/* 컴포넌트 박스 */
section {
  margin-left: 30px;
  padding: 20px 25px;
  border-radius: 2rem;
  max-width: 900px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  transition: all 0.2s ease-in-out;
  background-color: var(--background-gray-200);
  position: relative;
  transition: all 0.3s ease-in-out;
  margin-bottom: 2rem;

  & > .component-box {
    background: var(--spotify-black);
    padding: 30px;
    border-radius: 1.5rem;
    align-content: center;
    box-shadow: 0 0.3em 0.3em -0.1em rgb(21, 21, 21);
  }
  h2,
  h3,
  h4 {
    color: var(--spotify-white);
    order: 2;
    flex-grow: 1;
    text-align: left;
    margin-bottom: 20px;
  }

  .description-box {
    order: 3;
    font-size: 13px;
    margin: 20px;
  }

  .play-btn {
    content: "";
    position: absolute;
    right: 30px;
    bottom: 10px;
    display: block;
    background-color: var(--spotify-green);
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' data-encore-id='icon' role='img' aria-hidden='true' class='e-9921-icon e-9921-baseline' viewBox='0 0 24 24'%3E%3Cpath d='m7.05 3.606 13.49 7.788a.7.7 0 0 1 0 1.212L7.05 20.394A.7.7 0 0 1 6 19.788V4.212a.7.7 0 0 1 1.05-.606z'%3E%3C/path%3E%3C/svg%3E");
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 0.5em 0.5em -0.1em rgba(9, 9, 9, 0.643);
    opacity: 0;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: none;
  }

  &:hover {
    background: var(--button-hover-color);

    &:hover .play-btn {
      opacity: 1;
      transform: translateY(-10px);
    }
  }
}
