<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>album-card</title>
    <link rel="stylesheet" href="/src/styles/main.css" />
    <link rel="icon" href="/icons/spotify-logo-symbol-green.svg" />
    <script type="module" src="/src/main.js"></script>
  </head>
  <body>
    <div class="component-item">
      <h1>앨범 카드 컴포넌트</h1>
      <div class="list-component">
        <album-card
          album-title="앨범 이름"
          album-artist="아티스트"
          album-cover="/image/default-album-cover.png"
        ></album-card>
      </div>
    </div>
  </body>
</html>
