<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/main.css" />
    <title>album</title>
    <script></script>
    <script type="module" src="../scripts/album.js"></script>
  </head>
  <body>
    <div class="component-item">
      <h1>앨범 컴포넌트</h1>
      <section class="list-component">
        <div class="list-header">
          <h2>Album</h2>
          <button class="album-show-all">Show all</button>
        </div>
        <div class="scroll-wrapper">
          <div class="scroll-btn">
            <button
              class="album-scroll-btn-left scroll-btn-left"
              aria-label="왼쪽으로 스크롤"
            >
              <img src="../../public/icons/arrow-left.svg" alt="왼쪽 화살표" />
            </button>
            <button
              class="album-scroll-btn-right scroll-btn-right"
              aria-label="오른쪽으로 스크롤"
            >
              <img
                src="../../public/icons/arrow-right.svg"
                alt="오른쪽 화살표"
              />
            </button>
          </div>
          <ul class="album-list" id="list"></ul>
        </div>
      </section>
    </div>
  </body>
</html>
