<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>album</title>
    <link rel="icon" href="/icons/spotify-logo-symbol-green.svg" />
    <link
      rel="preload"
      as="font"
      href="/font/woff2/PretendardVariable.woff2"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/font/pretendardvariable.css" />
    <link rel="stylesheet" href="/src/common/index.css" />
    <link rel="stylesheet" href="/src/style.css" />
    <script type="module" src="/src/scripts/album.js"></script>
  </head>
  <body>
    <div class="flex flex-row justify-between">
      <h1>앨범 컴포넌트</h1>
      <a
        href="/index.html"
        class="rounded-btn btn bg-green black-text hover-grow"
      >
        메인 페이지로 이동
      </a>
    </div>
    <div class="component-item">
      <section class="list-component">
        <div class="list-header">
          <h2>Album</h2>
          <button class="album-show-all">Show all</button>
        </div>
        <div class="scroll-wrapper">
          <div class="scroll-btn">
            <button
              class="album-scroll-btn-left scroll-btn-left"
              aria-label="왼쪽으로 스크롤"
            >
              <img src="/icons/arrow-left.svg" alt="왼쪽 화살표" />
            </button>
            <button
              class="album-scroll-btn-right scroll-btn-right"
              aria-label="오른쪽으로 스크롤"
            >
              <img src="/icons/arrow-right.svg" alt="오른쪽 화살표" />
            </button>
          </div>
          <ul class="album-list" id="list"></ul>
        </div>
      </section>
    </div>
  </body>
</html>
