<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/album.css" />
    <title>album</title>
    <script></script>
    <script type="module" src="../scripts/album.js"></script>
  </head>
  <body>
    <section class="album">
      <h2>PlayList</h2>
      <div class="scroll-wrapper">
        <button class="scroll-btn-left" aria-label="왼쪽으로 스크롤"></button>
        <ul class="album-list" id="list"></ul>
        <button
          class="scroll-btn-right"
          aria-label="오른쪽으로 스크롤"
        ></button>
      </div>
    </section>
  </body>
</html>
