<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/artist.css" />
    <title>artist</title>
    <script type="module" src="../scripts/artist.js"></script>
  </head>
  <body>
    <section class="list-component">
      <div class="list-header">
        <h2>Artist</h2>
        <button class="show-all-button">Show all</button>
      </div>
      <div class="scroll-wrapper">
        <div class="scroll-btn">
          <button
            class="artist-scroll-btn-left scroll-btn-left"
            aria-label="왼쪽으로 스크롤"
          >
            ◀
          </button>
          <button
            class="artist-scroll-btn-right scroll-btn-right"
            aria-label="오른쪽으로 스크롤"
          >
            ▶
          </button>
        </div>
        <ul class="artist-list"></ul>
      </div>
    </section>
  </body>
</html>
