<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>버튼</title>
    <link rel="icon" href="/icons/spotify-logo-symbol-green.svg" />
    <link
      rel="preload"
      as="font"
      href="/font/woff2/PretendardVariable.woff2"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" as="style" href="/font/pretendardvariable.css" />
    <link rel="stylesheet" href="/src/common/index.css" />
    <link rel="stylesheet" href="/src/style.css" />
  </head>
  <body>
    <main>
      <h1>버튼 컴포넌트</h1>

      <section class="btn-section-no-page">
        <h2>기본 버튼</h2>
        <ul>
          <li>
            <button class="rounded-btn btn bg-green black-text">
              기본 버튼
            </button>
          </li>
          <li>
            <button class="rounded-btn btn gray-outline-style black-text">
              변형 버튼1
            </button>
          </li>
          <li>
            <button class="rounded-btn btn bg-black white-text">
              변형 버튼2
            </button>
          </li>
          <li>
            <button class="rounded-btn btn bg-blue white-text">
              변형 버튼3
            </button>
          </li>
        </ul>
        <ul>
          <li>
            <a href="#" class="rounded-btn btn bg-green black-text"
              >기본 버튼</a
            >
          </li>
          <li>
            <a href="#" class="rounded-btn btn gray-outline-style black-text"
              >변형 버튼1</a
            >
          </li>
          <li>
            <a href="#" class="rounded-btn btn bg-black white-text"
              >변형 버튼2</a
            >
          </li>
          <li>
            <a href="#" class="rounded-btn btn bg-blue white-text"
              >변형 버튼3</a
            >
          </li>
        </ul>
      </section>

      <section class="btn-section-no-page">
        <h2>크기 변형</h2>
        <ul>
          <li>
            <button class="rounded-btn btn btn-large bg-green black-text">
              큰 버튼
            </button>
          </li>
          <li>
            <button class="rounded-btn btn btn-small bg-green black-text">
              작은 버튼
            </button>
          </li>
          <li>
            <button class="rounded-btn btn btn-long bg-green black-text">
              긴 버튼
            </button>
          </li>
        </ul>
      </section>

      <section class="btn-section-no-page">
        <ul class="sidebar-menu">
          <li class="sidebar-item sidebar-item-active">
            <a href="/src/pages/home.html" class="sidebar-link home">
              <span class="sidebar-icon"></span>
              <span class="sidebar-text">홈</span>
            </a>
          </li>
          <li class="sidebar-item">
            <a href="" class="sidebar-link search">
              <span class="sidebar-icon"></span>
              <span class="sidebar-text">검색하기</span>
            </a>
          </li>
          <li class="sidebar-item">
            <a href="/src/pages/library.html" class="sidebar-link library">
              <span class="sidebar-icon"> </span>
              <span class="sidebar-text">내 라이브러리</span>
            </a>
          </li>
        </ul>
        <section class="sidebar-playlist">
          <h2>사이드바 버튼 요소</h2>
          <ul class="sidebar-menu">
            <li class="sidebar-playlist-item">
              <a href="#" class="sidebar-playlist-link create-playlist">
                <div class="sidebar-icon rounded-icon-box">
                  <img src="/icons/plus.svg" alt="" />
                </div>
                <span class="sidebar-text">플레이리스트 만들기</span>
              </a>
            </li>
            <li class="sidebar-playlist-item">
              <a href="#" class="sidebar-playlist-link favorite-playlist">
                <div class="sidebar-icon rounded-icon-box">
                  <img src="/icons/heart.svg" alt="" />
                </div>
                <span class="sidebar-text">좋아하는 곡</span>
              </a>
            </li>
          </ul>
        </section>
        <section class="sidebar-footer">
          <ul class="sidebar-footer-links">
            <li class="sidebar-footer-link">
              <a href="#">법적 고지 / 법률</a>
            </li>
            <li class="sidebar-footer-link">
              <a href="#">개인정보 센터</a>
            </li>
            <li class="sidebar-footer-link">
              <a href="#">개인정보 처리방침</a>
            </li>
            <li class="sidebar-footer-link">
              <a href="#">쿠키</a>
            </li>
            <li class="sidebar-footer-link">
              <a href="#">광고 정보</a>
            </li>
          </ul>
          <button
            type="button"
            class="btn gray-outline-style rounded-btn language-select"
          >
            <img src="/icons/globe.svg" alt="" class="btn-icon" />
            <span>언어선택</span>
          </button>
        </section>
      </section>

      <a class="rounded-btn btn bg-green black-text btn-long" href="/index.html"
        >메인 페이지로 돌아가기</a
      >
    </main>
  </body>
</html>
