<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>버튼</title>
    <link rel="icon" href="/icons/spotify-logo-symbol-green.svg" />
    <link
      rel="preload"
      as="font"
      href="/font/woff2/PretendardVariable.woff2"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/font/pretendardvariable.css" />
    <link rel="stylesheet" href="/src/common/index.css" />
    <link rel="stylesheet" href="/src/styles/common/components-common.css" />
    <link rel="stylesheet" href="/src/style.css" />
  </head>
  <body>
    <h1>버튼</h1>
    <section>
      <div class="component-box">
        <button
          class="rounded-btn btn bg-green black-text hover-grow"
          type="button"
        >
          기본 버튼
        </button>
      </div>
      <div class="description-box">
        <h2>기본 버튼</h2>
        <p>
          기본버튼은 초록색 배경에 검은색 텍스트를 가지며, 호버시 버튼이
          커집니다.
        </p>
      </div>
      <button class="copy-btn"></button>
    </section>

    <section>
      <div class="component-box">
        <button
          class="rounded-btn btn bg-black white-text hover-grow"
          type="button"
        >
          변형 버튼2
        </button>
      </div>
      <div class="description-box">
        <h2>변형 버튼2</h2>
        <p>
          기본버튼은 검은색 배경에 흰색 텍스트를 가지며, 호버시 버튼이 커집니다.
        </p>
      </div>
      <button class="copy-btn"></button>
    </section>

    <section>
      <div class="component-box">
        <button
          class="rounded-btn btn bg-blue white-text hover-grow"
          type="button"
        >
          변형 버튼3
        </button>
      </div>
      <div class="description-box">
        <h2>변형 버튼3</h2>
        <p>
          기본버튼은 파란색 배경에 흰색 텍스트를 가지며, 호버시 버튼이 커집니다.
        </p>
      </div>
      <button class="copy-btn"></button>
    </section>

    <section>
      <div class="component-box">
        <button
          class="rounded-btn btn gray-outline-style white-text hover-grow"
          type="button"
        >
          변형 버튼4
        </button>
      </div>
      <div class="description-box">
        <h2>변형 버튼4</h2>
        <p>
          기본버튼은 검은색 테두리와 텍스트를 가지며, 호버시 버튼이 커집니다.
        </p>
      </div>
      <button class="copy-btn"></button>
    </section>
    <br />
    <h1>링크 버튼</h1>
    <section>
      <div class="component-box">
        <a href="#" class="rounded-btn btn bg-green black-text hover-grow">
          기본 버튼
        </a>
      </div>
      <div class="description-box">
        <h2>기본 버튼</h2>
        <p>
          기본버튼은 초록색 배경에 검은색 텍스트를 가지며, 호버시 버튼이
          커집니다.
        </p>
      </div>
      <button class="copy-btn"></button>
    </section>

    <section>
      <div class="component-box">
        <a href="#" class="rounded-btn btn bg-black white-text hover-grow">
          변형 버튼2
        </a>
      </div>
      <div class="description-box">
        <h2>변형 버튼2</h2>
        <p>
          기본버튼은 검은색 배경에 흰색 텍스트를 가지며, 호버시 버튼이 커집니다.
        </p>
      </div>
      <button class="copy-btn"></button>
    </section>

    <section>
      <div class="component-box">
        <a href="#" class="rounded-btn btn bg-blue white-text hover-grow">
          변형 버튼3
        </a>
      </div>
      <div class="description-box">
        <h2>변형 버튼3</h2>
        <p>
          기본버튼은 파란색 배경에 흰색 텍스트를 가지며, 호버시 버튼이 커집니다.
        </p>
      </div>
      <button class="copy-btn"></button>
    </section>

    <section>
      <div class="component-box">
        <a
          href="#"
          class="rounded-btn btn gray-outline-style white-text hover-grow"
        >
          변형 버튼4
        </a>
      </div>
      <div class="description-box">
        <h2>변형 버튼4</h2>
        <p>기본버튼은 테두리와 텍스트를 가지며, 호버시 버튼이 커집니다.</p>
      </div>
      <button class="copy-btn"></button>
    </section>

    <h1>사이드바 버튼</h1>
    <section>
      <div class="component-box">
        <a
          href="/src/pages/home.html"
          class="sidebar-link home"
          aria-current="page"
        >
          <span class="sidebar-icon"></span>
          <p class="sidebar-text">홈</p>
        </a>
      </div>
      <div class="description-box">
        <h2>사이드바 버튼 요소(선택됨)</h2>
        <p>사이드바 버튼(선택됨)은 아이콘과 텍스트를 가집니다.</p>
      </div>
      <button class="copy-btn"></button>
    </section>
    <section>
      <div class="component-box">
        <a href="/src/pages/library.html" class="sidebar-link library">
          <span class="sidebar-icon"></span>
          <p class="sidebar-text">내 라이브러리</p>
        </a>
      </div>
      <div class="description-box">
        <h2>사이드바 버튼 요소(선택되지 않음)</h2>
        <p>
          사이드바 버튼(선택되지 않음)은 아이콘과 텍스트를 가지며 선택되지
          않았기에 투명도가 있습니다.
        </p>
      </div>
      <button class="copy-btn"></button>
    </section>
    <section>
      <div class="component-box">
        <a href="#" class="sidebar-playlist-link favorite-playlist">
          <div class="sidebar-icon rounded-icon-box">
            <img src="/icons/heart.svg" alt="" />
          </div>
          <p class="sidebar-text">좋아하는 곡</p>
        </a>
      </div>
      <div class="description-box">
        <h2>사이드바 버튼 요소(플레이리스트)</h2>
        <p>사이드바 버튼(플레이리스트)은 아이콘과 텍스트를 가집니다.</p>
      </div>
      <button class="copy-btn"></button>
    </section>

    <h1>아이콘 버튼</h1>
    <section>
      <div class="component-box">
        <a href="#" class="icon-btn rounded-btn bg-green hover-grow">
          <img src="/icons/heart.svg" alt="" />
        </a>
      </div>
      <div class="description-box">
        <h2>아이콘 버튼</h2>
        <p>아이콘 버튼은 아이콘만 가집니다.</p>
      </div>
      <button class="copy-btn"></button>
    </section>
    <section>
      <div class="component-box">
        <a href="#" class="icon-btn rounded-btn bg-blue hover-grow">
          <img src="/icons/facebook-filed.svg" alt="" />
        </a>
      </div>
      <div class="description-box">
        <h2>아이콘 버튼</h2>
        <p>아이콘 버튼은 아이콘만 가집니다.</p>
      </div>
      <button class="copy-btn"></button>
    </section>
    <section>
      <div class="component-box">
        <a href="#" class="icon-btn rounded-btn bg-black hover-grow">
          <img src="/icons/spotify-logo-symbol.svg" alt="" />
        </a>
      </div>
      <div class="description-box">
        <h2>아이콘 버튼</h2>
        <p>아이콘 버튼은 아이콘만 가집니다.</p>
      </div>
      <button class="copy-btn"></button>
    </section>
    <section>
      <a
        class="rounded-btn btn bg-green black-text hover-grow btn-long"
        href="/index.html"
      >
        메인 페이지로 돌아가기
      </a>
    </section>
  </body>
</html>
