<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link rel="preload" as="font" href="../../public/font/woff2/PretendardVariable.woff2" />
    <link rel="stylesheet" href="../styles/footer.css" />
    <style>
      body {
        font-family: 'SUIT Variable', sans-serif;
      }
    </style>
  </head>
  <body>
    <footer>
      <div class="footer-container">
        <!-- footer 가운데 부분 -->
        <div class="footer-columns">
          <div class="footer-column">
            <h4>Company</h4>
            <ul>
              <li><a href="#">About</a></li>
            </ul>
          </div>
          <div class="footer-column">
            <h4>Communities</h4>
            <ul>
              <li><a href="#">For Artists</a></li>
            </ul>
          </div>
          <div class="footer-column">
            <h4>Useful links</h4>
            <ul>
              <li><a href="#">Support</a></li>
            </ul>
          </div>
          <div class="footer-column">
            <h4>Spotify Plans</h4>
            <ul>
              <li><a href="#">Premium Individual</a></li>
            </ul>
          </div>
          <div class="footer-social">
            <!-- 아이콘 자리 -->
            <a href="#" aria-label="Instagram"><!-- 인스타그램 아이콘 --></a>
            <a href="#" aria-label="Twitter"><!-- 트위터 아이콘 --></a>
            <a href="#" aria-label="Facebook"><!-- 페이스북 아이콘 --></a>
          </div>
        </div>
        <!-- footer 맨 밑 부분분 -->
        <div class="footer-bottom">
          <small>&copy;2025 Spotify AB</small>
        </div>
      </div>
    </footer>
  </body>
</html>
