<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./main.css" />
    <title>main</title>
    <script></script>
    <script src="./main.js"></script>
  </head>
  <body>
    <section class="main">
      <h2>PlayList</h2>
      <div class="scroll-wrapper">
        <button class="scroll-btn-left" aria-label="왼쪽으로 스크롤">&#8592;</button>
        <ul class="album-list">
          <li class="album-card">
            <article>
              <img src="../assets/album-example.png" alt="앨범명" class="album-cover" />
              <h3 class="album-title">Peaceful Piano</h3>
              <p class="album-info">Relax and indulge with beautiful piano pieces</p>
            </article>
          </li>
          <li class="album-card">
            <article>
              <img src="../assets/album-example.png" alt="앨범명" class="album-cover" />
              <h3 class="album-title">Peaceful Piano</h3>
              <p class="album-info">Relax and indulge with beautiful piano pieces</p>
            </article>
          </li>
          <li class="album-card">
            <article>
              <img src="../assets/album-example.png" alt="앨범명" class="album-cover" />
              <h3 class="album-title">Peaceful Piano</h3>
              <p class="album-info">Relax and indulge with beautiful piano pieces</p>
            </article>
          </li>
          <li class="album-card">
            <article>
              <img src="../assets/album-example.png" alt="앨범명" class="album-cover" />
              <h3 class="album-title">Peaceful Piano</h3>
              <p class="album-info">Relax and indulge with beautiful piano pieces</p>
            </article>
          </li>
          <li class="album-card">
            <article>
              <img src="../assets/album-example.png" alt="앨범명" class="album-cover" />
              <h3 class="album-title">Peaceful Piano</h3>
              <p class="album-info">Relax and indulge with beautiful piano pieces</p>
            </article>
          </li>
          <li class="album-card">
            <article>
              <img src="../assets/album-example.png" alt="앨범명" class="album-cover" />
              <h3 class="album-title">Peaceful Piano</h3>
              <p class="album-info">Relax and indulge with beautiful piano pieces</p>
            </article>
          </li>
          <li class="album-card">
            <article>
              <img src="../assets/album-example.png" alt="앨범명" class="album-cover" />
              <h3 class="album-title">Peaceful Piano</h3>
              <p class="album-info">Relax and indulge with beautiful piano pieces</p>
            </article>
          </li>
          <li class="album-card">
            <article>
              <img src="../assets/album-example.png" alt="앨범명" class="album-cover" />
              <h3 class="album-title">Peaceful Piano</h3>
              <p class="album-info">Relax and indulge with beautiful piano pieces</p>
            </article>
          </li>
          <li class="album-card">
            <article>
              <img src="../assets/album-example.png" alt="앨범명" class="album-cover" />
              <h3 class="album-title">Peaceful Piano</h3>
              <p class="album-info">Relax and indulge with beautiful piano pieces</p>
            </article>
          </li>
          <li class="album-card">
            <article>
              <img src="../assets/album-example.png" alt="앨범명" class="album-cover" />
              <h3 class="album-title">Peaceful Piano</h3>
              <p class="album-info">Relax and indulge with beautiful piano pieces</p>
            </article>
          </li>
        </ul>
        <button class="scroll-btn-right" aria-label="오른쪽으로 스크롤">&#8592;</button>
      </div>
    </section>
    <section class="main">
      <div class="scroll-wrapper">
        <ul class="album-list" id="list"></ul>
      </div>
    </section>
  </body>
</html>
