<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../common/index.css" />
    <link rel="stylesheet" href="../styles/preview.css" />
    <title>Preview</title>
  </head>
  <body>
    <h1>Spotify 미리 듣기</h1>
    <br />
    <br />

    <!-- 미리듣기 컴포넌트 박스 -->
    <div class="preview-container" aria-label="preview">
      <div>
        <h1><span>Spotify</span> 미리 듣기</h1>
        <p>
          가끔 표시되는 광고와 함께 무제한 곡 및 팟캐스트를 이용하려면
          가입하세요. 신용카드는 필요 없습니다.
        </p>
      </div>
      <a href="/">무료로 가입하기</a>
    </div>
  </body>
</html>
