<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/icons/spotify-logo-symbol-green.svg" />
    <link
      rel="preload"
      as="font"
      href="/font/woff2/PretendardVariable.woff2"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/font/pretendardvariable.css" />
    <link rel="stylesheet" href="/src/common/index.css" />
    <link rel="stylesheet" href="/src/style.css" />
    <title>Preview</title>
    <style>
      body {
        background: var(--spotify-black);
        color: var(--spotify-white);
        width: 100vw;
        overflow: hidden;
      }
    </style>
  </head>
  <body>
    <br />
    <br />

    <!-- 미리듣기 컴포넌트 박스 -->
    <div class="preview-container" aria-label="preview">
      <div>
        <h1><span>Copytify</span> 미리 듣기</h1>
        <p>
          가끔 표시되는 광고와 함께 무제한 곡 및 팟캐스트를 이용하려면
          가입하세요. 신용카드는 필요 없습니다.
        </p>
      </div>
      <a href="/">무료로 가입하기</a>
    </div>

    <div class="component-header">
      <h1>Copytify 미리 듣기</h1>
      <a
        class="rounded-btn btn bg-green black-text hover-grow btn-long"
        href="/index.html"
      >
        메인 페이지로 돌아가기
      </a>
    </div>
  </body>
</html>
