<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>사이드바</title>
    <link rel="icon" href="/icons/spotify-logo-symbol-green.svg" />
    <link
      rel="preload"
      as="font"
      href="/font/woff2/PretendardVariable.woff2"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/font/pretendardvariable.css" />
    <link rel="stylesheet" href="/src/common/index.css" />
    <link rel="stylesheet" href="/src/style.css" />
    <style>
      .sidebar-component-container-no-page {
        color: var(--spotify-white);
        background: var(--spotify-dark-gray);
        display: grid;
        grid-template-areas: "left-sidebar main";
        grid-template-columns: auto 1fr;
        width: 100%;
        gap: 0.5rem;
        height: 100vh;
      }

      .sidebar {
        grid-area: left-sidebar;
      }

      .sidebar-component-container-no-page main {
        grid-area: main;
        padding: var(--spacing-lg);
      }
    </style>
  </head>
  <body>
    <div class="sidebar-component-container-no-page">
      <nav class="sidebar" aria-label="사이드바 네비게이션">
        <div class="sidebar-logo">
          <a href="/src/pages/home.html" aria-label="Spotify 홈으로 이동">
            <img src="/icons/copytify-logo.svg" alt="" />
          </a>
        </div>
        <section class="sidebar-main">
          <h2 class="sidebar-title sr-only">사이드바 메인</h2>
          <ul class="sidebar-menu" role="list">
            <li class="sidebar-item">
              <a
                href="/src/pages/home.html"
                class="sidebar-link home"
                aria-current="page"
              >
                <span class="sidebar-icon" aria-hidden="true"></span>
                <p class="sidebar-text">홈</p>
              </a>
            </li>
            <li class="sidebar-item">
              <a href="" class="sidebar-link search">
                <span class="sidebar-icon" aria-hidden="true"></span>
                <p class="sidebar-text">검색하기</p>
              </a>
            </li>
            <li class="sidebar-item">
              <a href="/src/pages/library.html" class="sidebar-link library">
                <span class="sidebar-icon" aria-hidden="true"></span>
                <p class="sidebar-text">내 라이브러리</p>
              </a>
            </li>
          </ul>
          <h2 class="sidebar-title sr-only">플레이리스트</h2>
          <ul class="sidebar-menu sidebar-playlist-list">
            <li class="sidebar-playlist-item">
              <a href="#" class="sidebar-playlist-link create-playlist">
                <div class="sidebar-icon rounded-icon-box">
                  <img src="/icons/plus.svg" alt="" />
                </div>
                <p class="sidebar-text">플레이리스트 만들기</p>
              </a>
            </li>
            <li class="sidebar-playlist-item">
              <a href="#" class="sidebar-playlist-link favorite-playlist">
                <div class="sidebar-icon rounded-icon-box">
                  <img src="/icons/heart.svg" alt="" />
                </div>
                <p class="sidebar-text">좋아하는 곡</p>
              </a>
            </li>
          </ul>
        </section>
        <section class="sidebar-footer">
          <h2 class="sidebar-title sr-only">사이드바 부가정보</h2>
          <ul class="sidebar-footer-links">
            <li class="sidebar-footer-link">
              <a href="#">법적 고지 / 법률</a>
            </li>
            <li class="sidebar-footer-link">
              <a href="#">개인정보 센터</a>
            </li>
            <li class="sidebar-footer-link">
              <a href="#">개인정보 처리방침</a>
            </li>
            <li class="sidebar-footer-link">
              <a href="#">쿠키</a>
            </li>
            <li class="sidebar-footer-link">
              <a href="#">광고 정보</a>
            </li>
          </ul>
          <button
            type="button"
            class="btn gray-outline-style rounded-btn language-select"
          >
            <img src="/icons/globe.svg" alt="" class="btn-icon" />
            <p>언어선택</p>
          </button>
        </section>
      </nav>
      <main>
        <h1 class="green-text">사이드바</h1>
        <a
          href="/index.html"
          class="rounded-btn btn bg-green black-text hover-grow"
        >
          메인 페이지 이동
        </a>
      </main>
    </div>
  </body>
</html>
