<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>사이드바</title>
    <link rel="icon" href="/icons/spotify-logo-symbol-green.svg" />
    <link
      rel="preload"
      as="font"
      href="/font/woff2/PretendardVariable.woff2"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/font/pretendardvariable.css" />
    <link rel="stylesheet" href="/src/common/index.css" />
    <link rel="stylesheet" href="/src/style.css" />
  </head>
  <body>
    <div class="sidebar-component-container-no-page">
      <nav class="sidebar">
        <div class="sidebar-logo">
          <a href="/src/pages/home.html" aria-label="홈으로 이동">
            <img src="/icons/spotify-logo.svg" alt="" />
          </a>
        </div>
        <ul class="sidebar-menu">
          <li class="sidebar-item">
            <a
              href="/src/pages/home.html"
              class="sidebar-link home sidebar-item-active"
            >
              <span class="sidebar-icon"></span>
              <span class="sidebar-text">홈</span>
            </a>
          </li>
          <li class="sidebar-item">
            <a href="" class="sidebar-link search">
              <span class="sidebar-icon"></span>
              <span class="sidebar-text">검색하기</span>
            </a>
          </li>
          <li class="sidebar-item">
            <a href="/src/pages/library.html" class="sidebar-link library">
              <span class="sidebar-icon"> </span>
              <span class="sidebar-text">내 라이브러리</span>
            </a>
          </li>
        </ul>
        <div class="sidebar-menu sidebar-playlist">
          <h2 class="sidebar-title sr-only">플레이리스트</h2>
          <ul class="sidebar-playlist-list">
            <li class="sidebar-playlist-item">
              <a href="#" class="sidebar-playlist-link create-playlist">
                <div class="sidebar-icon rounded-icon-box">
                  <img src="/icons/plus.svg" alt="" />
                </div>
                <span class="sidebar-text">플레이리스트 만들기</span>
              </a>
            </li>
            <li class="sidebar-playlist-item">
              <a href="#" class="sidebar-playlist-link favorite-playlist">
                <div class="sidebar-icon rounded-icon-box">
                  <img src="/icons/heart.svg" alt="" />
                </div>
                <span class="sidebar-text">좋아하는 곡</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="sidebar-footer">
          <ul class="sidebar-footer-links">
            <li class="sidebar-footer-link">
              <a href="#">법적 고지 / 법률</a>
            </li>
            <li class="sidebar-footer-link">
              <a href="#">개인정보 센터</a>
            </li>
            <li class="sidebar-footer-link">
              <a href="#">개인정보 처리방침</a>
            </li>
            <li class="sidebar-footer-link">
              <a href="#">쿠키</a>
            </li>
            <li class="sidebar-footer-link">
              <a href="#">광고 정보</a>
            </li>
          </ul>
          <button
            type="button"
            class="btn gray-outline-style rounded-btn language-select"
          >
            <img src="/icons/globe.svg" alt="" class="btn-icon" />
            <span>언어선택</span>
          </button>
        </div>
      </nav>
      <main>
        <a href="/index.html">메인 페이지 이동</a>
        <h1>사이드바</h1>
      </main>
    </div>
  </body>
</html>
