:root {
  --spotify-black: #121212;
  --spotify-gray: #535353;
  --spotify-dark-gray: #282828;
  --spotify-light-gray: #b3b3b3;
  --spotify-green: #1ed760;
  --spotify-white: #ffffff;
  --spotify-blue: #1d75de;
}
